
.viewcontainer {
  height: calc(100% - 53px);
  /*background: #34495E;*/
}

/* ng-animate DEFAULT transitions */
/*.viewcontainer.ng-leave  { z-index:9999; }
.viewcontainer.ng-enter  { z-index:8888; }*/

.viewcontainer.ng-enter,
.viewcontainer.ng-leave {
  transition: all 0.5s ease;
}

.viewcontainer.ng-enter {
  opacity: 0;
}
.viewcontainer.ng-enter-active {
  opacity: 0;
}
.viewcontainer.ng-leave {
  opacity: 0;
}
.viewcontainer.leave-active {
  opacity: 0;
}