
/* app body / html */

body,
html {
  overflow : hidden;
  width : 100%;
  height : 100%;
  -webkit-user-select : none;
     -moz-user-select : none;
      -ms-user-select : none;
          user-select : none;
  /*background-color: #34495E;*/

  background-color : #2C3E50;
  -khtml-user-select : none;
       -o-user-select : none;
}

/* scrollbar */

::-webkit-scrollbar {
  width : 8px;
  height : 8px;
  background-color : transparent;
}
::-webkit-scrollbar-track {
  width : 8px;
  background-color : transparent;
}
::-webkit-scrollbar-track-piece {
  background-color : #2980B9;
}
::-webkit-scrollbar-thumb {
  width : 8px;
  background-color : rgba(255, 255, 255, 0.4);
}

/* resize webkit element */

::-webkit-resizer {
    border: 2px solid black;
    background: red;
    box-shadow: 0 0 5px 5px blue;
    outline: 2px solid yellow;
}

/* pinbored logo */

.navbar-brand {
  box-sizing : border-box;
  height : 53px;
  margin-top : -7px;
  padding : 0;
  padding-top : 11px;
}

/* app-status-indicator */

.app-status-indicator {
  position : absolute;
  z-index : 20;
  bottom : 0;
  box-sizing : border-box;
  width : 100%;
  height : 50px;
  padding : 10px;
  padding-left : 20px;
  -webkit-transition : all linear 0.3s;
          transition : all linear 0.3s;
  text-align : left;
  border-top : 2px;
  background : #ECF0F1;
}

.app-status-indicator.ng-hide {
  opacity : 0;
}

.app-status-indicator h7 {
  color : #34495E;
}

.app-status-indicator h7 .danger {
  font-weight : bold;
  color : #C0392B;
}

.app-status-indicator h7 .info {
  font-weight : bold;
  color : #16A085;
}
