/* app behaviour related */

.textselectable {
  -webkit-user-select : text;
     -moz-user-select : text;
      -ms-user-select : text;
          user-select : text;
  -khtml-user-select : text;
       -o-user-select : text;
}
