
/* Bootstrap overrides */

.container {
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
}

.navbar {
  min-height: 0px;
  margin-bottom: 0px;
}

.navbar > .container {
  width: auto;
  display: block;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

textarea { 
  resize:none; 
}

.row {
  margin: 0px;
}

.col-xs-1, 
.col-xs-2,
.col-xs-3, 
.col-xs-4,
.col-xs-5, 
.col-xs-6,
.col-xs-7, 
.col-xs-8,
.col-xs-9, 
.col-xs-10,
.col-xs-11, 
.col-xs-12 {
  padding: 0px;
}

/* following is specifically for flat-ui */

.navbar >.container .navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

.navbar-nav > li > .dropdown-menu {
  margin-right: 15px;
}

.navbar > .container .navbar-brand {
  margin-left: 0px;
}

.tagsinput {
  margin-bottom: 0px;
}

.login-form:before {
  content: none;
}

.list-group-item {
  padding: 0px;
  padding-bottom: 1px;
}

.pagination {
  /*width: 100%;*/
  border-radius: 0px;
}

.pagination > li > span,
.pagination > li > a,
.pagination > .disabled > span {
  padding: 5px 6px;
  border: none;
  background: transparent;
  color: #34495E;
}

.pagination > li > a:hover,
.pagination > .disabled > span:hover {
  background: transparent;
}

.pagination > .active > span {
  background: transparent;
  color: #ECF0F1;
}

.pagination > .active > span:hover {
  background: transparent;
  color: #ECF0F1;
}

.pagination > li > span:hover,
.pagination > li > a:focus {
  background: transparent;
  color: #95A5A6;
  cursor: pointer;
}

.pagination > li:first-child > a, 
.pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.pagination > li:last-child > a, 
.pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.has-switch > div.switch-on {
  left: 1px;
}









body, html {
  height: 100%;
  width: 100%;
  overflow:hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* app behaviour related */

.textselectable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

/* scrollbar */

::-webkit-scrollbar {
    width:  8px;
    height: 8px;
    background-color:transparent;
}
::-webkit-scrollbar-track {
    background-color:transparent;
    width: 8px;
}
::-webkit-scrollbar-track-piece  {
    /*background-color: rgba(0, 0, 0, 0.6);*/
    /*background-color: rgba(255, 255, 255, 1);*/
    background-color: #2980B9;
}
::-webkit-scrollbar-thumb {    
    background-color: rgba(255, 255, 255, 0.4);
    /*background-color: rgba(0, 0, 0, 0.6);*/
    /*background-color: #3498DB;*/
    width: 8px;
}

/* pagination */

.pagination {
  margin: 0px;
}

.pagination > ol, ul {
  margin: 0px;
}

small, .small {
  line-height: 1.3;
}

/* custom element styling */

#login {
  background-color: #2C3E50;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
}

.navbar-brand {
  height: 53px;
  padding: 0px;
  padding-top: 11px;
  margin-top: -7px;
}

.footer {
  background-color: #ecf0f1;
  max-height: 53px;
  padding: 8px;
  border-top: 2px solid #000;
}

/* screens */

.screen {
  display: table;
  height: 100%;
  width: 100%;
  background: #34495E;
}

.viewcontainer {
  height: calc(100% - 53px);
}

.section {
  padding: 10px;
}

.bar {
  padding: 7px;
  /*background-color: #16A085;*/
  background-color: #2C3E50;
  border-top: 1px solid #34495E;
}

#bar-wrapper {
  display: table-row;
}

.screentitle {
  margin: 0px;
  padding: 8px;
  background-color: #2C3E50;
  text-transform: lowercase;
  line-height: 0px;
}

.screentitle > h6 {
  margin: 0px;
  margin-top: 3px;
  margin-right: 10px;
  padding: 0px;
  font-weight: bold;
  color: #BDC3C7;
  text-transform: lowercase;
  font-size: 20px;
  float: left;
}

.vertical-offset-100{
    padding-top:170px;
}

/* screen and component specific */

#overview {
}

#overview .switch {
  float: right;
}

#overview .share-label {
  float: right;
  /*color: #7F8C8D;*/
  color: #95A5A6;
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 3px;
}

#overview label {
  margin-bottom: 0px;
}

#tagsearch {
  
}

.angularjs-bootstrap-tagsinput {
  width: 100%;
}
.angularjs-bootstrap-tagsinput [data-role=tags] {
  height: auto;
}

#pages {
  line-height: 0;
  padding: 0px;
  text-align: center;
  height: auto;
}

#overview .navbar-inverse {
  background-color: transparent;
}

#overview .navbar-inverse p {
  color: #95A5A6;
}

#overview .navbar {
  min-height: 0px;
  margin-bottom: 0px;
}

#overview .navbar-collapse {
  padding: 0px;
}

#overview .navbar-collapse .navbar-form {
  padding: 0px;
}

#overview .navbar-embossed > .navbar-collapse {
  border-radius: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#overview #fulltextsearch .share-label {
  padding-top: 5px;
}

/* list specific */

#list {
  padding: 0px;
  display: table-row;  /* height is dynamic, and will expand... */
  height: 100%;        /* ...as content is added (won't scroll) */
}

#list .list-wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#list .list-wrapper > ul {
  background-color: #2C3E50;
  line-height: 1;
  margin: 0px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0px;

  -webkit-perspective: 400px;
     -moz-perspective: 400px;
      -ms-perspective: 400px;
       -o-perspective: 400px;
          perspective: 400px;
}

#list .list-wrapper > ul li {
  line-height: 1;
  z-index: 2;
  /*background-color: rgba(236, 240, 241, 0.4);*/
  /*background-color: rgba(0, 0, 0, 0.3);*/
  /*background-color: #2980B9;*/
  /*background-color: #34495e;*/
  background-color: #2C3E50;
  border: none;
  border-radius: 0px;
}

#list .list-wrapper > ul li .link-item-toolbar .btn-toolbar {
  float: right;
}

#list .list-wrapper > ul li:nth-child(odd) {
  /*background-color : #34495E;*/
}

#list .list-wrapper > ul li:nth-child(even) {
  /*background-color : #2C3E50;*/
}

#list .list-wrapper > ul li .list-group-item-heading {
  color: white;
}

#list .list-wrapper > ul li .list-group-item-text {
  color: white;
}

/* Tags screen */

#tags {
  height: calc(100%);
}

/* bookmark item */

.bookmark-item-left {
    /*height: 50px;
    margin-right: 200px;
    margin-left:auto !important;*/
    background-color: #34495E;
}

.bookmark-item-inner {
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
}

.bookmark-item-right {
    /*margin: 0 200px;*/
    position: relative;
    left: auto;
    width: 190px;
    float: right;
}

.hiddenContent {
  height: auto;
  padding-top: 2px;
  padding-bottom: 2px;
}

.hiddenContent .btn-toolbar {
  margin: 2px;
  padding-right: 5px;
}

.hiddenContent .btn-toolbar .btn-group a {
  border-radius: 0px;
}

.btn-group-sm > .btn {
  padding: 8px 15px;
}

.hiddenContent .form-control {
  width: calc(100% - 8px);
}

.hiddeninputs {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ddd;
  border: 0px;
  margin: 2px;
  margin-left: 3px;
  padding-left: 8px;
}

.hiddencontent .input-sm {
  height: 30px;
}

.hiddeninputs:hover {
  /*border-radius: 0px;*/
  background-color: rgba(255, 255, 255, 0.1);
}

.bookmark-item-right .btn-group {
  height: 100%;
}

.bookmark-item-right .btn-group .btn {
  border-radius: 0px;
  padding: 10px 15px;
  height: 100%;
}

.highlight {
  color: #1ABC9C;
  font-weight: bold;
}