
/* dropdown button fixes */

/*.bootstrap-select.btn-group:not(.input-group-btn) {
  margin-bottom: 0;
}

button.selectpicker.dropdown-toggle {
  background-color: #1abc9c;
  color: #fff;
  padding: 10px 13px;
  font-size: 13px;
  line-height: 1;
  border-radius: 4px;
}

button.selectpicker.dropdown-toggle span.caret,
.bootstrap-select.btn-group .btn .caret {
  top: 45%;
}*/

/* start of kustom CSS */

body, html {
  height: 100%;
  width: 100%;
  overflow:hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

small, .small {
  line-height: 1.3;
}

/* custom element styling */

.navbar-brand {
  box-sizing: border-box;
  height: 53px;
  padding: 0;
  padding-top: 11px;
  margin-top: -7px;
}

.vertical-offset-170 {
    padding-top:170px;
}


/* screen and component specific */



.checkbox {
  color: #95A5A6;
  margin-top: 6px;
}


.btn-group-sm > .btn {
  padding: 8px 15px;
}


.highlight-search {
  color: #2C3E50;
  font-weight: bold;
  background-color: #F1C40F;
}