.gridster-loaded {
  -webkit-transition : 0.3s ease-out all;
     -moz-transition : 0.3s ease-out all;
          transition : 0.3s ease-out all;
  transition-delay : 0.3s;
}

.gridster-loaded.gridster-item {
  -webkit-transition : 0.3s ease-out all;
     -moz-transition : 0.3s ease-out all;
          transition : 0.3s ease-out all;
  transition-delay : 0;
}
