tags-input .autocomplete {
  border : none;
  border-radius : 3px;
  background-color : #ECF0F1;
}

tags-input .autocomplete .suggestion-item {
  background-color : #ECF0F1;
}

tags-input .autocomplete .suggestion-item.selected {
  color : #FFF;
  background-color : #1ABC9C;
}

tags-input .autocomplete .suggestion-item em {
  color : #2C3E50;
  background-color : transparent;
}

tags-input .autocomplete .suggestion-item.selected em {
  font-style : oblique;
  color : #FFF;
  background-color : #2C3E50;
}
