.gridster-loaded {
  -webkit-transition : 0.3s ease-out all !important;
     -moz-transition : 0.3s ease-out all !important;
          transition : 0.3s ease-out all !important;
  transition-delay : 0.3s !important;
}

.gridster-loaded.gridster-item {
  -webkit-transition : 0.3s ease-out all !important;
     -moz-transition : 0.3s ease-out all !important;
          transition : 0.3s ease-out all !important;
  transition-delay : 0 !important;
}
