/* Account for fixed navbar */
body {
  min-width : 1024px;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
  width : 970px;
  max-width : none !important;
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right : 0;
  margin-left : 0;
}

/* Always float the navbar header */
.navbar-header {
  float : left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display : block !important;
  height : auto !important;
  padding-bottom : 0;
  overflow : visible !important;
}

.navbar-toggle {
  display : none;
}
.navbar-collapse {
  border-top : 0;
}

/* Always apply the floated nav */
.navbar-nav {
  float : left;
  margin : 0;
}
.navbar-nav > li {
  float : left;
}
.navbar-nav > li > a {
  padding : 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float : right;
}
