Build
cache
coverage
coverage/*
inspiration
node_modules

App/bower_components
App/bower_components/*
App/bower_components_dist
App/bower_components_dist/*
App/node_modules

.tmp
.sass-cache
project.sublime-project
project.sublime-workspace
karma.report.html
npm-debug.log

RESOURCES.md