<!-- toolbar full text search -->
<div class="bar" ng-show="config.showExtraTagFilters">
  <div class="bar-container" ng-show="config.showExtraTagFilters">
    <nav role="navigation" class="navbar navbar-inverse navbar-embossed">
      
      <div class="col-xs-7">
        <div class="collapse navbar-collapse textselectable">
          <form role="search" class="navbar-form navbar-left">
            <div class="form-group">
              <!-- <input type="text" ng-model="filter.text" ng-model-options="{ debounce: filter.filterDelay }"
              placeholder="full-text search" class="form-control input-sm"> -->
            </div>
          </form>
        </div>
      </div>

      <div class="col-xs-2">
        <!-- <fui-checkbox ng-model="config.searchAllWords" id="searchAllWords">{{config.searchAllWordsText}}</fui-checkbox> -->
      </div>

    </nav>
  </div>
</div>