<!-- toolbar tag search -->
<div class="bar clearfix" id="tagsearch" ng-show="config.showTags">
  <div class="bar-container" ng-show="config.showTags">
    <div class="col-xs-7">
      <tags-input ng-model="filter.tags" placeholder="search for tag" 
      on-tag-added="onSearchTagChanged()" on-tag-removed="onSearchTagChanged()">
        <auto-complete source="loadTagItems($query)"></auto-complete>
      </tags-input>
      <!-- ng-keyup="updateFiltersPaging()" ng-click="updateFiltersPaging()" -->
    </div>
    <div class="col-xs-2">
      <fui-checkbox ng-click="updateFiltersPaging()" ng-model="appconfig.tagFilterType" id="tagFilterType">{{config.tagFilterTypeText}}</fui-checkbox>
    </div>
  </div>
</div>