<div class="col-xs-4 pull-right text-right">
  <div class="btn-group">
    <label class="btn btn-primary btn-sm" ng-show="config.hasButtonPaging" ng-model="config.showPager" uib-btn-checkbox>paging</label>
    <label class="btn btn-primary btn-sm" ng-show="config.hasButtonTagFilter" ng-model="config.showTags" uib-btn-checkbox>tag filter</label>
    <label class="btn btn-primary btn-sm" ng-show="config.hasButtonTextFilter" ng-model="config.showSearch" uib-btn-checkbox>text filter</label>
    <label class="btn btn-primary btn-sm" ng-show="config.hasButtonMorefilters" ng-model="config.showExtra" uib-btn-checkbox>more filters</label>
  </div>
</div>