
<div class="container" id="login" ng-keypress="loginEnter($event)">
    <div class="row vertical-offset-170">
      <div class="col-md-4 col-md-offset-4">

        <div class="login-form" ng-class="{false: 'animated shake', true: 'animated bounceOut'}[loginAnimation]">
          <p class="text-center">Please sign in to Pinboard</p>
          <form accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form-group">
                <input ng-model="username" class="form-control" placeholder="username" type="text" id="login-name">
                <label class="login-field-icon fui-user" for="login-name"></label>
              </div>
              <div class="form-group">
                <input ng-model="password" class="form-control" placeholder="password" type="password" id="login-pass">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
              </div>
              <button ng-click="login(username, password)" btn-loading="busy" data-loading-text="logging in to pinboard..." 
              type="button" class="btn btn-lg btn-success btn-block">login to pinbored</button>
              <a class="login-link" href="javascript: void(0)"
              tooltip-placement="bottom" tooltip="Because it is simple and easy. KISS, stupid."
              >Why use pinboard credentials?</a>
            </fieldset>
          </form>
        </div>

    </div>
  </div>
</div>