<div class="screen" id="overview">

  <!-- screen title -->
  <div class="screentitle clearfix">
    <h6>Overview</h6>
    <div class="minitoolbar col-xs-9 pull-right text-right">
      
      <div class="col pull-right text-right">
        <flatui-switch model="config.showPager" square=""></flatui-switch>
        <label class="share-label" for="showPager">paging</label>
      </div>
      <div class="col pull-right text-right">
        <flatui-switch model="config.showTags" square=""></flatui-switch>
        <label class="share-label" for="showTags">tag filter</label>
      </div>
      <div class="col pull-right text-right">
        <flatui-switch model="config.showSearch" square=""></flatui-switch>
        <label class="share-label" for="showSearch">fulltext filter</label>
      </div>
    </div>
  </div>

  <div class="bar-wrapper clearfix">

    <!-- full text search -->
    <div class="bar" id="fulltextsearch" ng-show="config.showSearch">
      <nav role="navigation" class="navbar navbar-inverse navbar-embossed">
        
        <!-- <div class="col-xs-9">
          <input type="text" ng-model="filter.text" placeholder="full-text search" class="form-control input-sm">
          autosearch option checkbox ?
          <button class="btn btn-default btn-sm" type="search" ng-click="applyFilters()">search</button>
        </div> -->

        <div class="col-xs-6">
          <div class="collapse navbar-collapse textselectable">
            <form role="search" class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" ng-model="filter.text" placeholder="full-text search" 
                class="form-control input-sm">
              </div>
              <button class="btn btn-default btn-sm" type="submit" ng-click="applyFilters()">search</button>
            </form>
          </div>
        </div>

        <div class="col-xs-3">
          <label class="checkbox" for="checkbox1">
            <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
            Unchecked
          </label>
        </div>

        <div class="col-xs-3">
          <label class="share-label" for="showTags">
            <span class="highlight">{{filteredList.length}}</span> bookmarks found
          </label>
        </div>

      </nav>
    </div>

    <!-- tags -->
    <div class="bar" id="tagsearch" ng-show="config.showTags">
      <tags-input ng-model="filter.tags" ng-change=""></tags-input>
    </div>

    <!-- screen pagination -->
    <div class="bar" id="pages" ng-show="config.showPager">
      <ul class="pagination">
        <li class="disabled"><span>&laquo;</span></li>
        <li ng-repeat="page in data.pagerange" ng-class="{active: data.activepage == $index+1}">
          <span> {{$index+1}} <span class="sr-only">(current)</span></span>
        </li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>

  </div>

  <!-- bookmark items list -->
  <div class="section" id="list">
      <div class="list-wrapper">
        <!-- screen list group -->
        <ul class="list-group grow"> <!-- flip -->
          
          <li class="listItemMessage" ng-show="data.isLoading">
            <h5>LOADING BOOKMARKS.</h5>
          </li>

          <li ng-animate="'animate'"
          ng-repeat="item in filteredList = (data.items | filter:searchFilter | filter:tagsFilter | limitTo: config.maxItems) track by item.hash" 
          class="list-group-item" ng-controller="BookmarkItemCtrl">
            <div ng-include src="'templates/BookmarkItem.html'"></div>
          </li>

          <li class="listItemMessage" ng-show="filteredList.length === 0">
            <h5>NO BOOKMARKS FOUND.</h5>
          </li>

        </ul>
      </div>
  </div>

</div>