

<h3>Overview.</h3>
<p>This is the main view.</p>

<button role="button" class="btn btn-primary btn-outline" ngclick="testrest">test REST GET default</button>

<br/>

<div class="jumbotron">
  <h1>Navbar example</h1>
  <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
  <p>To see the difference between static and fixed top navbars, just scroll.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs »</a>
  </p>
</div>