<div class="screen" id="settings">

  <!-- screen title -->
  <div class="screentitle clearfix">
    <h6>Settings</h6>
  </div>

  <div class="section" id="list">
    
    <div class="settingsHeading clearfix">
      <h7>- overview screen settings</h7>
    </div>

    <div class="row settingsrow clearfix">

      <form class="form-horizontal">
        
        <div class="form-group">
          <label for="recentAmountOptions" class="col-sm-4 control-label">set load recent bookmarks amount to: </label>
          <div class="col-sm-8">
            <ol id="recentAmountOptions" class="nya-bs-select btn btn-lg btn-primary" 
            ng-model="appconfig.maxRecentItems">
              <li nya-bs-option="recentAmount in appconfig.maxRecentAmounts">
                <a>load <strong>{{recentAmount}}</strong> most recent bookmarks</a>
              </li>
            </ol>
          </div>
        </div>

        <!-- <div class="form-group">
          <label for="someButton" class="col-sm-4 control-label">some button: </label>
          <div class="col-sm-7">
            <button btn-loading="busy" data-loading-text="logging in to pinboard..." type="button" class="btn btn-lg btn-success">login to pinbored</button>
          </div>
        </div> -->

      </form>

    </div>

    <div class="settingsHeading clearfix">
      <h7>- tag screen settings</h7>
    </div>

    <div class="listBackgroundMessage">
      <h5>APPLICATION SETTINGS.</h5>
    </div>

  </div>

</div>