<div class="screen" id="tags">

  <!-- screen title -->
  <div class="screentitle clearfix"> <!-- animated fadeIn -->
    <h6>Tags</h6>

    <div class="col-xs-3">
      <button class="btn btn-primary btn-sm" type="submit" ng-click="repopulateTags()">reload</button>
    </div>

    <!-- search functionality buttons -->
    <div ng-include src="'views/partials/search/searchbar-buttons.html'"></div>

  </div>

  <div class="bar-wrapper clearfix">

    <!-- toolbar full text search -->
    <div ng-include src="'views/partials/search/searchbar-fulltext.html'"></div>

    <!-- extra tag filter toolbar -->
    <div ng-include src="'views/partials/search/searchbar-extra-tags.html'"></div>

    <!-- toolbar pagination -->
    <div ng-include src="'views/partials/search/searchbar-paging.html'"></div>

  </div>

  <!-- bookmark items list -->
  <div class="section" id="list">
    
    <div class="list-wrapper" ng-class="{fullheight: data.tags.length > 0}">      
      <div gridster="gridsterOpts">
        <ul>
            <!-- tagItem{{ 300 - (5 + item.row * 10 + item.col) }} !-->
            <li gridster-item="item" id="tagItem{{item.id}}"
            ng-repeat="item in data.filteredList | orderBy:['occurrences', 'tagname'] | offset: (paging.current - 1) * config.itemsPerPage | limitTo: config.itemsPerPage" 
            ng-controller="TagItemCtrl" ng-include src="'views/partials/items/tagitem.html'"
            ng-style="{ 'z-index' : 300 - (5 + item.row * 10 + item.col) }"></li>
        </ul>
      </div>
    </div>

    <div class="listBackgroundMessage">
      <h5>NO TAGS FOUND.</h5>
    </div>

  </div>

</div>