<div class="screen" id="tags">

  <!-- screen title -->
  <div class="screentitle clearfix">
    <h6>Tags</h6>

    <div class="col-xs-3">
      <button class="btn btn-primary btn-xs" type="submit" ng-click="repopulateTags()">reload</button>
    </div>

    <div class="col-xs-6 pull-right text-right">
      <div class="btn-group">
        <label class="btn btn-primary btn-sm" ng-model="config.showPager" btn-checkbox>paging</label>
      </div>
    </div>

  </div>

  <div class="bar-wrapper clearfix">

    <!-- screen pagination -->
    <div class="bar" id="pages" ng-show="config.showPager">
      <div class="bar-container" ng-show="config.showPager">
        <pagination total-items="paging.total" items-per-page="config.itemsPerPage" 
        ng-model="paging.current" max-size="paging.numPageButtons" 
        boundary-links="true"></pagination>
        <!-- pagination-sm -->
      </div>
    </div>
    
  </div>

  <!-- bookmark items list -->
  <div class="section" id="list">
    
    <div class="list-wrapper" ng-class="{fullheight: data.tags.length > 0}">

      <div gridster="gridsterOpts">
        <ul>
            <li gridster-item="item"
            ng-repeat="item in data.wrappedTags | orderBy:['occurrences','tagname'] | offset: (paging.current - 1) * config.itemsPerPage | limitTo: config.itemsPerPage" 
            ng-controller="TagItemCtrl" ng-include src="'views/tagitem.html'"></li>
        </ul>
      </div>

    </div>

    <div class="listBackgroundMessage">
      <h5>NO TAGS FOUND.</h5>
    </div>

  </div>

</div>