<div class="screen" id="tags">

  <!-- screen title -->
  <div class="screentitle clearfix">
    <h6>Tags</h6>
  </div>

<!--   <div class="row">
    <div class="col-md-2">
    <flatui-checkbox ng-repeat="item in checkbox1.options" model="item.selected" label="item.name" value="item.id" name="valcontainer0"></flatui-checkbox>
    </div>
    <div class="col-md-2">
      <flatui-checkbox ng-repeat="item in checkbox1.options" model="item.selected" label="item.name" value="item.id" name="valcontainer0" disabled=""></flatui-checkbox>
    </div>
    <div class="col-md-2">
      <flatui-radio ng-repeat="item in radio1.options" model="radio1.selected" label="item.name" value="item.id" name="valcontainer1"></flatui-radio>
    </div>
    <div class="col-md-2">
      <flatui-radio ng-repeat="item in radio1.options" model="radio1.selected" label="item.name" value="item.id" name="valcontainer1" disabled=""></flatui-radio>
    </div>
    <div class="col-md-2">
      <flatui-switch model="switch1"></flatui-switch>
    </div>
    <div class="col-md-2">
      <flatui-switch model="switch1" square=""></flatui-switch>
    </div>
  </div> -->

</div>