<div class="screen" id="tools">

  <!-- screen title -->
  <div class="screentitle clearfix">
    <p class="toolsheader">Additional tools!</p>

  </div>

  <div class="bar-wrapper clearfix">
        
  </div>
  
  <div class="tooltitle clearfix">
    <p class="toolsheader">check for duplicates</p>
    <div class="col-xs-4">
        <button class="btn btn-inverse btn-sm pull-right" ng-class="{disabled: tools.duplicates.isLoading === true}" 
        type="submit" ng-click="checkDuplicates()">check for duplicate bookmarks</button>
    </div>
  </div>
  
  <!-- bookmark items list -->
  <div class="section" id="list">
    
    <div class="list-wrapper list-duplicates">

      <div class="tooltitle clearfix">
        <p class="toolsheader">duplicate bookmark names</p>
      </div>

      <!-- screen list group -->
      <ul class="list-group">
        <li ng-repeat="item in duplicatecheck.duplicates.name track by $index"
        class="list-group-item"
        ng-controller="BookmarkItemCtrl">
          <div ng-include src="'views/BookmarkItem.html'"></div>
        </li>
      </ul>

      <!-- screen list group -->
      <!-- <ul class="list-group">
        <li ng-repeat="item in duplicatecheck.duplicates.name track by $index"
        class="list-group-item">
          <div>
            <p>{{item.bookmark.description}}</p>
            <p>{{item.bookmark.href}}</p>
            <p>{{item.bookmark.extended}}</p>
          </div>
          <div>
            <p>{{item.duplicate.description}}</p>
            <p>{{item.duplicate.href}}</p>
            <p>{{item.duplicate.extended}}</p>
          </div>
        </li>
      </ul> -->


      <div class="tooltitle clearfix">
        <p class="subheader">duplicate bookmark hrefs</p>
      </div>

      <!-- screen list group -->
      <ul class="list-group">
        <li ng-repeat="item in duplicatecheck.duplicates.href track by $index"
        class="list-group-item">
          <div>
            <p>{{item.description}}</p>
            <p>{{item.href}}</p>
            <p>{{item.extended}}</p>
          </div>
        </li>
      </ul>

      
      <div class="tooltitle clearfix">
        <p class="subheader">duplicate bookmark descriptions</p>
      </div>

      <!-- screen list group -->
      <ul class="list-group">
        <li ng-repeat="item in duplicatecheck.duplicates.extended track by $index"
        class="list-group-item">
          <div>
            <p>{{item.description}}</p>
            <p>{{item.href}}</p>
            <p>{{item.extended}}</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="listBackgroundMessage">
      <h5>NO DUPLICATES FOUND.</h5>
    </div>
  </div>

  </div>

</div>