<div class="row">
  <div class="col-xs-9">
    <small class="list-group-item-heading">
      {{item.description}}<br/>
      <a class="" href="{{item.href}}">{{item.href}}</a>
    </small>
  </div>
  <div class="col-xs-3 link-item-toolbar">
    <div class="form-group">
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn btn-primary btn-sm" href="#fakelink"><span class="fui-eye"></span></a>
          <a class="btn btn-primary btn-sm" href="#fakelink"><span class="fui-new"></span></a>
          <a class="btn btn-warning btn-sm active" href="#fakelink"><span class="fui-cross"></span></a>
        </div>
      </div>
    </div>          
  </div>
</div>
<div class="hiddenContent" ng-class="{zoomIn: isExpanded}">
  <small class="list-group-item-text">{{item.extended}}</small>
</div>
