<div ng-class="{'bootstrap-switch-handle-off': disabled, 'bootstrap-switch':!square, 'bootstrap-switch-square': square}"
  ng-click="model = disabled && model || !disabled && !model">
  <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate"
  ng-class="{'bootstrap-switch-off': !model, 'bootstrap-switch-on': model}">
    <div class="bootstrap-switch-container">
      <span class="bootstrap-switch-handle-on bootstrap-switch-primary">ON</span>
      <label class="bootstrap-switch-label">&nbsp;</label>
      <span class="bootstrap-switch-handle-off bootstrap-switch-default">OFF</span>
      <input type="checkbox" checked="" data-toggle="switch" data-on-label="<i class='fui-check'></i>" 
      data-off-label="<i class='fui-cross'></i>" name="switch" id="custom-switch">
    </div>
  </div>
</div>